* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-size: cover;
    color: white;
}


.container-pefil {
    background: url(img/fundo.png) no-repeat center;
    background-size: cover;
    height: 90vh;
}


.perfil-foto {
    display: contents;
    justify-content: center;
    align-items: center;
    width: 87px;
    height: 87px;
    outline: 3px solid #E3646E;
    border-radius: 50%;
}

.perfil-foto img {
    margin: 100px 0 60px;
    width: 89px;
    height: 89px;
    outline: 3px solid #E3646E;
    border-radius: 50%;
    padding: 3px;
}

.perfil-txt p {
    font-family: inconsolate;
    font-size: 20px;
}

.perfil-txt h1 {
    font-family: Asap;
    font-size: 60px;
    margin-bottom: 20px;
}



/* Habilidades skils  */

.perfil-tags {
    display: inline-flex;
    margin-top: 70px;

}

.perfil-tags img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.perfil-tags p {
    color: white;
}

.tags {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #292C34;
    border-radius: 80px;
    height: 2px;
    padding: 16px;
    cursor: default;
}

.projects {
    background-color: #16181d;
    min-height: 100vh;
}

span {
    color: #E3646E;
}

/* area dos projetos */

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.project-card {
    width: 330px;
    height: 280px;
    background: #292C34;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-image:
        linear-gradient(#292C34, #292C34),
        linear-gradient(to bottom, #494e5e, #292C34, #8D8D99, #C0C4CE);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 10px;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}


.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 10px;
    border-radius: 15px;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.card-content h3 {
    margin: 0 0 8px 0;
    font-size: 1rem;
    text-align: left;
}

.card-content p {
    text-align: left;
    margin: 0;
    font-size: 0.9rem;
    color: #666;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
